@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  a {
    @apply transition ease-in-out duration-200;
  }
}

/* Experience timeline customizations. */
.vertical-timeline-element-content--custom {
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}

.vertical-timeline-element-content-arrow {
  display: none;
}

.vertical-timeline-element-date--custom {
  font-style: italic;
  color: #4e4e4e;
}

.vertical-timeline-element-icon--button:hover {
  cursor: pointer;
  opacity: 0.6;
  @apply transition ease-in-out duration-200;
}

.vertical-timeline-element-icon--button {
  opacity: 1.0;
  @apply transition ease-in-out duration-200;

  background-color: rgb(2, 132, 199);
  color: #fff;
}